.message-container{
  float: right;
  height: auto;
  width: auto;
  margin: 0 10px;
  min-width: 400px;
  text-align: end;
  border-radius: 5px;
  background-color: #fff;
}

.is-own-message-container {
  float: left;
  width: auto;
  text-align: start;
  background-color: #163fc1;
  color: #fff !important;
}


.message-data{
  flex: 1;
  padding: 10px;
  font-size: 0.7em;
}

.sender{
  display: block;
  color: #222;
  font-weight: bold;
}

.is-own-sender{
  color: #E1F5FE;
}

.timestamp {
  color: #555;
  font-style: italic;
}

.is-own-timestamp{
  color: #4FC3F7;
}

.message-content{
  height: auto;
  flex: 9;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.is-own-message-content{
  background-color: #E3F2FD;
  color: #01579B;
}
.userAndDate{
  font-weight: 700;
  font-size: 0.85rem;
  justify-content: flex-end;
}
.is-own-userAndDate{
  justify-content: flex-start;
}
#userMessage{
  font-weight: 300;
}
